@import "tailwindcss";

@theme {
  --color-primary: #5f6FFF;
  --color-primary-dark: #4a54e1;
  --color-secondary: #22c55e;
  --color-bg: #f8fafc;
  --color-card: #ffffff;
}
body {
  background-color: var(--color-bg);
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
/* So, what we have done here is ? 
It applies Tailwind’s `block` display to any `<hr>` inside an element with the `active` class.
*/
.active hr{
  @apply block
}
/* Hiding the Scrollbar */
::-webkit-scrollbar {
  @apply hidden
}


/* custom grid utility */
/* Here, Creates a responsive grid that automatically fits as many columns as possible, each at least 200px wide */
/* Columns expand equally and adjust themselves based on screen/container size */
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}